html,body {

    background-color: #181818;
}

#topContainer {
	min-height: 100%;
	width: 100%;
}

#mainViewContainer {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% - 220px);
}

#mainContent {
    padding: 0 20px;
}

#mainContent {
    padding: 0 20px;
}



